<nav>
  <ul class="navul">
    <li><a href="/">Home</a></li>
    <li><a href="/news">News</a></li>
    <li><a href="/ingegneria">Collegio di Ingegneria</a></li>
    <li><a href="/scienze">Collegio di Scienze</a></li>
    <li><a href="/architettura">Collegio di Architettura</a></li>
  </ul>
</nav>
